.Item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 15px 0;
  position: relative;
  cursor: pointer;
}

.Item_image {
  width: 90%;
}

.Item_titleContainer {
  position: absolute;
  bottom: 0;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 90%;
  color: #fff;
  box-sizing: border-box;
  font-weight: bold;
}

.Item_title {
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .Item {
    width: 24%;
  }
}
